<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="LN.Utilities" publicKeyToken="77e33826e94724f2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.1.0.2" newVersion="0.1.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LN.Planning" publicKeyToken="ce553b9d77bdebaa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.1.0.2" newVersion="0.1.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>